#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.vsprops
*.scc
*.ccscc
*.suo
*.sln.docstates
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.opensdf
*.InstallLog
*.tmp
*.sdf
*.*~
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
*.hndv2-backup
TestMetadata.xml
*.orig
*.swp
Simulations/
*.vsmdi
bin
obj
*.vsmdi
~$*

